.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: white;
    padding: 15px 0;
    border-bottom: 2px solid #fff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo img {
    height: 100px;
    padding-bottom: 5px;
}


.navbar {
    display: flex;
    justify-content: space-evenly; 
    width: 100%; 
    padding-bottom: 0px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px 15px;
    position: relative;
}

.navbar a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: black;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar a:hover::after {
    width: 100%;
}
